<section class="resources-tab-section">
    <div class="container">
        <div class="panel with-nav-tabs panel-default ">
            <div class="panel-heading tabslist">
                <ul class="nav nav-tabs resourcetabs" style="justify-content:center; text-align:center">
                    <a class="active" href="/resources/" > 
                       <h2> {{ .Params.allTab }} </h2>
                    </a>
                    <a href="/whitepapers/" > <h2> {{ .Params.whitepapersTab }} </h2> </a>
                   <a href="/blogs-updates/" > <h2> {{ .Params.BlogTab }} </h2> </a>
                    <a href="/inthenews/" > <h2> {{ .Params.NewsTab }} </h2></a>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--All tabs Content-->
<div class="blogs-pages">
<div class="container pt-5">
    <div class="row pb-5">
    <div class="">
        <div class="card">
          <img src="{{.Params.shipmentTransistImg}}"  class=" card-img-top" alt="ShipmentImg" >
                <div class="card-body">
                  <a href="/shipments/"><h3 class="card-title">Shipments In-Transist information-Critical to logistics efficiency</h3></a>
        </div>
                </div>
   
    </div>
    <div class="row">
       
<div class=" row">
    <div class="col-md-4 ">
    <div class="card" >
        <img src="/images/resources/transo-hyper-collaborative-blog1.jpg" class="card-img-top"  alt="...">
        <div class="card-body">
          <a href= "/hyper-collaborative/"><h5 class="card-title">Hyper-Collaborative Business Processes in the Wake of a Pandemic</h5></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card" >
          <img src="/images/resources/transo-connected-logistics1.jpg"  class="card-img-top" style="height: 14rem;" alt="LogisticImg">
            <div class="card-body">
              <a href="/connected-logistics/"><h5 class="card-title">Connected Logistics</h5></a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" >
            <img src="/images/resources/nasscom.jpg" class="card-img-top" style="height: 14rem;" alt="...">
            <div class="card-body">
              <a href="/nasscom/"> <h5 class="card-title">NASSCOM Center of Excellence-loT & AI Startup Showcase</h5></a>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
</div>
</div>


<!--------script-->


