.container {
  max-width: 90%;
}

.features-bg {
  background: url("/images/features/featureHeroImg.png") no-repeat center;
  background-size: cover;
   height: 70vh;
 
  @include mobile{
    background: url("/images/mobile-images/mobileBanner2.png") no-repeat center;
    background-size: cover; 
    height: 100vw;
  } 
}
.featureHP{
 
  padding-bottom: 125px;
  @include mobile{
    width: 60%;
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 172px;
  }
}

.featureHH{
  font-size: 33px;
  @include mobile{
    width: 70%;
    font-size: 20px;
    line-height: 20px;
  }
}
.opOpBg {
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 500px;
}
.opOph2 {
  font-weight: bold;
  font-family: Montserrat;
  padding-top: 10px;
  
  padding-bottom: 20px;
  @include mobile {
    font-size: 19px;
  }
}
.opOph5 {
  font-weight: normal;
  font-family: Montserrat;
  text-align: left;
 line-height: 30px;
  
  @include mobile {
    width: auto;
  }
}
.opOp {
  margin-top: 30px;
}

.capOpH {
  display: flex;
  padding: 40px ;
  margin-top: 60px;
  box-shadow: -35px -21px 25px rgba(0, 0, 0, 0.08),-11px -7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10%;
  height: 280px;
  width:450px;
  margin-right: 55px;
  margin-bottom: 100px;
  @include mobile {
    height: 300px;
    width: 400px;
    margin-bottom: 30px;
    padding: 10px;
    padding-top: 30px;
    }
    @include tablet{
      
      margin-top: 10px;
    }
}

.capOpHExp {
  display: flex;
  padding: 40px ;
  margin-top: 60px;
  box-shadow: -35px -21px 25px rgba(0, 0, 0, 0.08),-11px -7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 10%;
  height: 400px;
  width:450px;
  margin-right: 55px;
 margin-bottom: 30px;
  @include mobile {
    margin-top: 30px;
    height: 500px;
    width: 400px;
    margin-bottom: 30px;
  }
}
.capOpHroute {
  margin-top: 150px;
  margin-left:0px;
  
  @include mobile {
    margin-top: 0px;
  }
  @include tablet{
    margin-top: 30px;
  }
}


.logoOpImg {
  position: relative;
  width: 128px;
  height: 100px;
  margin-left: 0px;
  padding-right: 10px;
  @include desktop {
   margin-left: -40px;
  }
}

.capOpH1 {
  color: $text-color-primary;
  
  padding-left: 20px;
  @include mobile {
   }
}
.capOpH2 {
  padding-left: 20px;
  text-align: left;
}
.capOpH3{
  padding-left: 20px;
 margin-top: -10px;
 padding-bottom: 7px;
 
}
.analytics-h1 {
  font-weight: bold;
  padding-top: 75px;
  font-family: Montserrat;
  @include mobile {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 19px;
  }
}
.capP ,.capT,.capR,.capOO,.rtm,.rtm1,.capP1,.capP2{
  list-style: none;
  padding-top: 10px;
  }
  .capOO1{
    margin-top: 10px;
  }
  .capP li,.capT li, .capR li,.capOO li,.rtm li,.rtm1 li{
    line-height: 20px;
    padding-bottom: 8px;
  }
 .capR{
   margin-top: -25px;
 } 
.capP1{
  padding-top: 18px;
}
.capP2{
  margin-top: -38px;
}
.capOO{
  padding-top: 2px;
}
.rtm{
  margin-top: -70px;
}
.rtm1{
  margin-top:-80px;
}
.jumbotron h4{
  @include mobile{
    width: 60%;
  }
}

