.site-resource-header{
  margin-top: -30px;
  padding-bottom: 20px;
  @include mobile{
      padding-top: 70px;
  }
}

.resourcesHeader {
  
text-align: center;
font-family:Montserrat;
@include mobile{
    padding-top: 0px;
    padding-bottom: 30px;
}
}

.resourcetabs h2 {
display: flex;
    font-size:28px;
    text-decoration: none;
    //margin-right: 30px;
    text-align:center;
    font-family:Montserrat;
    padding: 0px 15px 15px 15px;
@include mobile {
 
    font-size:20px;
    text-align:center;
padding-bottom: 10px;
}
}
 a {
    text-decoration: none;
    color: #BEBFBF;
}

 a:hover {
color:#FAAD26;
text-decoration: none;
}
a.active {
 border-bottom:  solid #FAAD26 !important; 
border-width: 3px;
color: #3A3A3c;
@include mobile{
   
}

}

.resources-tab-section {
    background-color:$background-color-secondary;
}

.resourcespanelbody {
    padding-top:40px;
}

.singleblogLayout {
    display:flex;
}

.resource-whitepaper {
background-color:white; 
margin:20px; 
@include tablet{
    margin: 40px;
}
}
.resource-whitepaper p {
padding-top: 20px;
font-family: Roboto;
}
.whitepaperdiv {
padding: 10px;
}

.whitepaperImg {
width: 100%;
}

.whitepaper-btn {
width: 140px;
background: #BEBFBF;
border:1px solid #BEBFBF;
border-radius: 25px ;
color: #FFFFFF;
padding: 5px;
margin-left: 30px;
align-items:bottom;
@include desktop{
    margin-left: 10px;
}
@include tablet{
    margin-left: 100px;
}
}
.btn1{
 align-items:bottom;
}
.whitepaper-btn1{
    margin-left: 55px; 
    @include tablet{
        margin-left: 40%;
    } 
    @include desktop{
        margin-left: 20%;
    }
    @include mobile{
        margin-left: 30%;
    }
} 
/*.btn2{
    //margin-top: 26px;
}
.btn3{
    //margin-top: 36px;
}*/

.aditya{
    
    width:60%;
    height:40vh;
    padding-bottom: 60px;
    }
.newspara1{
    padding-top: 10px;
    text-align: left;
}
.news img{
   margin-left: 200px;
}
.turboP{
    font-size: 25px;
    
}
.newspara3{
  margin-top: -20px;  
}
.date{
 text-align: left;   
}
.links{
    color:black;
    padding-top: 10px;
    padding-bottom: 20px;
}
.link1{
    padding-bottom: 70px;
}
.ref{
    font-size: 20px;
}
.blogPara{
text-align: justify;
}
//------ALL-------------//

.card{
   //margin: 0px;
    border: none;
    background:$secondary-color;
  }

  .blog-card{
    margin: 30px;  
  }
  .blogs-pages h3{
      @include tablet{
          font-size: 25px;
      }
  }
//--------------whitepapers------------//

//--------------Blogs-----------------//
.ship-card img {
    height: 17.5rem;
    @include mobile{
        height: 10rem;
    }
}
.freight-card img{
    height: 17.5rem;
    width: 26.5rem;
    @include mobile{
        height: 10rem;
    } 
}

.fa {
    padding: 10px;
    padding-left: 30px;
    font-size: 25px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .hyper-icons ul{
     
    position: relative;
   
      @include tablet{
          display: flex;
          position: relative;
          
      }
  }
  
//--------------In the news------------//
.news-cards img{
    height: 14rem;
    @include mobile{
        height: 10rem; 
    }
}

.card-thumbnail{
    flex-direction: row;
  align-items: center;
}
.thumbnail-img{
    width: 30%;
    height: 10rem;
    @include desktop{
        width: 50%;
        height: auto;   
    }
}
.blogs-pages h5{
    @include desktop{
        font-size: 15px;
    }
}