{{ partial "resources/header.html" . }}
<section class="resources-tab-section">
    <div class="container">
        <div class="panel with-nav-tabs panel-default ">
            <div class="panel-heading tabslist">
                <ul class="nav nav-tabs resourcetabs" style="justify-content:center; text-align:center">
                    <a  href="/resources/" > 
                       <h2> ALL </h2>
                    </a>
                    <a href="/whitepapers/" > <h2>   Whitepapers </h2> </a>
                   <a class="active" href="/blogs-updates/" > <h2>  Blog & Updates </h2> </a>
                    <a href="/inthenews/" > <h2>  In The News </h2></a>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="blogs-pages">
    <div class="container pt-5">
    <div class="card mb-3 border-bottom"   >
        <img src="{{.Params.frieghtImg1}}" class="card-img-top"style="height: 25rem;"  alt="...">
        <div class="card-body">
            
          <h3 class="card-title">{{.Params.frieghtH}}</h3>
          <div class="row">
            <div class="col-md-8">
          <p class="card-text"></p>
          <p class="card-text "><small class="text-muted">Date:</small></p>
        </div>
        
        <div class="col-md-4 hyper-icons" >
            <div class="hyper-icons-list float-md-right" >
              <ul class="list-unstyled "  >
                <li>
                  <a href="https://facebook.com/">
                    <i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="https://whatsapp.com/"
                    ><i class="fa fa-whatsapp" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="https://linkedin.com/"
                    ><i class="fa fa-linkedin" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="https://gmail.com/"
                    ><i class="fa fa-google" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
      </div>
      </div>
    </div>
    </div>
    <div class="container">
<p>{{ .Params.frieghtp1}}</p>
<p>{{ .Params.frieghtp2}}</p>
<p>{{ .Params.frieghtp3}}</p>
<p>{{ .Params.frieghtp4}}</p>
<p>{{ .Params.frieghtp5}}</p>

<div class="pt-5 mr-5">
    <h3 class="pb-3 border-bottom">Continue Reading</h3>
  <div class="card card-thumbnail pt-3 pb-3 border-bottom">
    <img class="thumbnail-img rounded" src="/images/resources/transo-connected-logistics1.jpg" class="card-img-top" />
    <a href="/connected-logistics/"><h5 class="card-title pl-4">Connected Logistics</h5></a>
  </div>
  <div class="card card-thumbnail pt-3 pb-3 border-bottom">
    <img class="thumbnail-img rounded" src="/images/resources/transo-hyper-collaborative-blog1.jpg" class="card-img-top" />
    <a href= "/hyper-collaborative/"><h5 class="card-title pl-4">Hyper-Collaborative Business Processes in the Wake of a Pandemic</h5></a>
  </div>
  <div class="card card-thumbnail pt-3 pb-3 border-bottom">
    <img class="thumbnail-img rounded" src="/images/resources/transo-shipmentin-transit1.jpg" class="card-img-top" />
    <a href="/shipments/"><h5 class="card-title pl-4">Shipments In-Transist information-Critical to logistics efficiency</h5></a>
  </div>
</div>
    </div>
</div>

